.play-btn {
    -fx-background-radius: 12px;
    -fx-font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    /* Dégradé vibrant */
    -fx-background-color: linear-gradient(to right, #ff4b2b, #ff416c);
    -fx-padding: 15 60;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 65, 108, 0.4), 20, 0, 0, 0);
}

.bg-image {
    -fx-background-image: url("/images/modded.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.play-btn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(to right, #ff6a4d, #ff5a7e);
}

.download-progress {
    /* Force la barre à prendre toute la largeur possible */
    -fx-pref-width: 9999px;
    -fx-max-width: 10000px; /* On enlève la limite de 1000 */
    -fx-min-width: 10px;

    -fx-min-height: 12px;
    -fx-max-height: 12px;
}

.download-progress > .bar {
    -fx-background-color: linear-gradient(to right, #ff4b2b, #ff416c);
    -fx-background-insets: 0;
    -fx-background-radius: 50px;
}

.download-progress > .track {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-insets: 0;
    -fx-background-radius: 50px;
    -fx-border-color: rgba(255, 255, 255, 0.05);
    -fx-border-radius: 50px;
}

.download-status {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.box-pane {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #5f5f5f;
}

.play-icon{
    -fx-fill: white;
}

