.play-btn {
    -fx-background-radius: 12px;
    -fx-font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    /* Dégradé vibrant */
    -fx-background-color: linear-gradient(to right, #ff4b2b, #ff416c);
    -fx-padding: 15 60;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 65, 108, 0.4), 20, 0, 0, 0);
}

.play-btn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(to right, #ff6a4d, #ff5a7e);
}

/* Barre de progression style "Neon" */
.download-progress > .bar {
    -fx-background-color: linear-gradient(to right, #ff4b2b, #ff416c);
    -fx-background-radius: 50px;
}

.download-progress > .track {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 50px;
}

.bg-image {
    -fx-background-image: url("/images/modded.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}