.app-layout {
    -fx-background: rgb(10, 12, 12);
}

.sidemenu {
    /* Dégradé métallique sombre */
    -fx-background-color: linear-gradient(to right, #2a2a2a 0%, #3a3a3a 50%, #2a2a2a 100%);
    -fx-border-color: transparent #151515 transparent transparent;
    -fx-border-width: 2px;
    -fx-padding: 15px 10px;
}

.home-title {
    -fx-text-fill: rgb(20, 25, 25);
}

.sidemenu-nav-btn {
    -fx-background-color: linear-gradient(to bottom, #444, #333);
    -fx-background-radius: 8px; /* Moins arrondi pour un look plus "pro" */
    -fx-border-color: #222;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 2);
}

.sidemenu-nav-btn:hover {
    -fx-background-color: rgb(40, 40, 40, 0.6);
}

.sidemenu-nav-btn.active {
    /* Le rouge devient un dégradé pour éviter l'aspect "plastique" */
    -fx-background-color: linear-gradient(to bottom, #c0392b, #8e1e1a);
    -fx-border-color: #5e110f;
}
.sidemenu-nav-btn.active:hover {
    -fx-background-color: #860000;
}

.nav-content {
    -fx-background-color: rgba(50, 50, 50, 0.4);
}
.box-notif-error{
    -fx-background-color: #860000
}

