.app-layout {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Un noir plus profond */
    -fx-background: transparent;
}

.sidemenu {
    /* Effet de verre fumé */
    -fx-background-color: #2d2d2d;
    /*-fx-border-color: transparent rgba(255, 255, 255, 0.05) transparent transparent;*/
    -fx-border-width: 1px;
    -fx-border-color: #5f5f5f;
    -fx-padding: 20px 12px;
}

.sidemenu-nav-btn {
    -fx-alignment: CENTER; /* Centre le contenu (l'icône) horizontalement et verticalement */
    -fx-padding: 0;        /* Enlève les marges internes qui pourraient décaler l'image */
    -fx-background-color: #1a1a1a; /* Optionnel : fond léger */
    -fx-background-radius: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #5f5f5f;
    -fx-border-radius: 15px;
}

.sidemenu-nav-btn.active {
    -fx-alignment: CENTER; /* Centre le contenu (l'icône) horizontalement et verticalement */
    -fx-padding: 0;        /* Enlève les marges internes qui pourraient décaler l'image */
    -fx-background-color: linear-gradient(to right, rgba(255, 75, 43, 0.75), rgba(255, 65, 108, 0.75)); /* Optionnel : fond léger */
    -fx-background-radius: 15px;

}

.sidemenu-nav-btn .graphic-container {
    -fx-alignment: CENTER;
}